extends layout

block main
  p Based on your pattern and if you continue with the same strategy, my prediction is..
    ul#result
    p &nbsp;
      p= textResult
        h2= date
block headerLinks
  a.add(href="/")
    h4(style='text-align: left;')
      a.add(href="/")
        span(style='color: #ff0000;') Home